*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #272727;
    color: white;
    margin: 0;
  }


h1{
    font-size: 60px;
    padding: 20px;
    border-bottom: 1px solid black;
}

.blok1{
    width: 1000px;
    height: 350px;
    background: #535353;
    border: 2px solid black;
}

.blok1-2{
    width: 381px;
    height: 346px;
    background: #535353;
    border-right: 2px solid black;
    color: white;
}

section2{
    display: flex;
}

.blok2{
    width: 500px;
    height: 500px;
    color: white;
    background: #535353;
    margin-top: 35px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.blok2-1{
    width: 500px;
    height: 500px;
    color: white;
    background: #535353;
    margin-top: 35px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.text-openingstijden{
    font-size: 17px;
}

.FotoSegaRally{
    width: 61.7%;
    padding: 0%;
    float: right;
}

.FotoNamco{
    width: 100%;
    padding: 0%;
    border-bottom: 2px solid black;
}

.FotoXbox{
    width: 100%;
    padding: 0%;
    border-bottom: 2px solid black;
}

article{
    width: 60vw;
    margin: 0 auto;
    padding: 40px;
}

figure{
    margin-bottom: 40px;
}

img{
    padding: 20px;
    width: 100%;
    transition: 0.2s transform;
}

.Logo{
    margin: 6px;
    padding: 1px;
    width: 90px;
}

p{
    margin-bottom: 40px;
}

figcaption{
    font-size: 80%;
    font-style: italic;
}

audio{
    display:block;
    margin:20px;
}

video{
    width:100%;
}

header{
    height: 75px;
    width: 100%;
    background: #535353;
    color: white;
}

nav{
    width: 60vw;
    height: 100%;
    margin:0 auto;
}

nav > ul{
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

nav > ul > li{
    width: 100%;
    height: 100%;
}

.active{
    background: #272727;
}

nav > ul > li > a{
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 75px;
    text-decoration: none;
    color: white;
}


footer{
    background: #535353;
    height: 250px;
    color: white;
    display: flex;
    align-items: center;

}

p:last-of-type{
    margin-bottom:0;
}

footer > p{
    width:60vw;
    margin:0 auto;
}

.top{
    width: 80px;
    height: 80px;
    background: white;
    border: none;
    font-size: 150%;
    font-family: sans-serif;
    border-radius: 5px;
    color: white;
    position: fixed;
    bottom: 120px;
    right: 120px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

@media screen and (max-width:1000px) {
    article{
        width: 80vw;
    }

    img:hover{
        transform: none;
    }

    .top{
        width: 60px;
        height: 60px;
        bottom: 60px;
        right: 60px;
    }

    header{
        height: auto;
    }
    
    nav{
        width: 100%;
    }

    nav > ul{
        display: block;
    }
}