*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #272727;
    color: white;
    margin: 0;
  }

h1{
    font-size: 60px;
    padding: 20px;
    border-bottom: 1px solid black;
}

/* Minigame */

canvas {
    width: 100%;
}

.canvas-wrapper{
    border-style: solid;
    border-color: #535353;
    width: 90%;
    margin: 30px;
    padding: 0px;
}

.center {
    text-align: center;
}

.game {
    position: relative;
}

#score{
    position: absolute;
    top:0px;
    left:50px;
}

/* Blokken */

.text-openingstijden{
    font-size: 17px;
}

.FotoSegaRally{
    width: 61.7%;
    padding: 0%;
    float: right;
}

.FotoNamco{
    width: 100%;
    padding: 0%;
    border-bottom: 2px solid black;
}

.FotoXbox{
    width: 100%;
    padding: 0%;
    border-bottom: 2px solid black;
}

article{
    width: 60vw;
    margin: 0 auto;
    padding: 40px;
}

figure{
    margin-bottom: 40px;
}

img{
    padding: 20px;
    width: 100%;
    transition: 0.2s transform;
}

.Logo{
    margin: 6px;
    padding: 1px;
    width: 90px;
}

p{
    margin-bottom: 40px;
}

figcaption{
    font-size: 80%;
    font-style: italic;
}

audio{
    display:block;
    margin:20px;
}

video{
    width:100%;
}

header{
    height: 75px;
    width: 100%;
    background: #333;
    color: white;
}

nav{
    width: 60vw;
    height: 100%;
    margin:0 auto;
}

nav > ul{
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

nav > ul > li{
    width: 100%;
    height: 100%;
}

.active{
    background: #272727;
}

nav > ul > li > a{
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 75px;
    text-decoration: none;
    color: white;
}

/* Blokken */

.blok1{
    width: 1000px;
    height: 350px;
    background: #535353;
    border: 2px solid black;
    border-radius: 5px;
}

.blok1-2{
    width: 381px;
    height: 346px;
    background: #535353;
    border-right: 2px solid black;
    color: white;
    padding: 5px;
}

section2{
    display: flex;
}

.blok2{
    width: 500px;
    height: 500px;
    color: white;
    background: #535353;
    margin-top: 35px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.blok2-1{
    width: 500px;
    height: 500px;
    color: white;
    background: #535353;
    margin-top: 35px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.blok3-minigame{
    width: 1000px;
    height: 630px;
    background: #535353;
    border: 2px solid black;
    margin-top: 35px;
}

.h1-minigame{
    display: flex;
    justify-content: center;
}

.blokGeschiedenis{
    width: 800px;
    height: 550px;
    background: rgb(99, 99, 99);
    margin-top: 30px;
    padding-top: 50px;
    border-radius: 5px;
    padding:50px;
    margin-left: 95px;
    color: white;
}

.tekstGeschiedenis{
    font-size: 25px;
}

.blokReviews{
    width: 1000px;
    height: 1200px;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    font-weight: 500;
}

.blokreview1{
    width: 800px;
    height: 300px;
    background: #474c7e;
    margin-top: 30px;
    margin-left: 95px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 40px;
    font-size: 25px;
}

.blokreview2{
    width: 800px;
    height: 300px;
    background: rgb(33, 119, 33);
    margin-top: 30px;
    margin-left: 95px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 40px;
    font-size: 25px;
}

.blokreview3{
    width: 800px;
    height: 300px;
    background: #8a1616;
    margin-top: 30px;
    margin-left: 95px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 40px;
    font-size: 25px;
}

.textReviews{
    padding-bottom: 20px;
    border-bottom: #7f6347 solid 3px;
    border-radius: 10px;
}

.tekst-contact{
    display: flex;
    justify-content: center;
}

p:last-of-type{
    margin-bottom:0;
}

/* Media screen */

@media screen and (max-width:1000px) {
    article{
        width: 80vw;
    }

    img:hover{
        transform: none;
    }

    .top{
        width: 60px;
        height: 60px;
        bottom: 60px;
        right: 60px;
    }

    header{
        height: auto;
    }
    
    nav{
        width: 100%;
    }

    nav > ul{
        display: block;
    }
}

/* Footer */

.footer{
    margin-top: 150px;
    width: 100%;
    padding: 70px 15%;
    background: #333;
    color: #efefef;
    display: flex;
}

.footer div{
    text-align: center;
}

.col-2{
    flex-grow: 2;
}

.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a{
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}

form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

.b1 {
    border-radius: 3px;
    background: #279444;
    position:absolute;
    top: 70%;
    left: 43%;
    width: 200px;
    height: 40px;
    color: white;
    cursor: pointer;
}

.tickets{
    width: 550px;
    height: 350px;
    background:#535353;
    margin-top: 30px;
    padding-top: 50px;
    border-radius: 10px;
    padding: 50px;
    margin-left: 95px;
    opacity:0.9;
    font-size:25px;
    position:absolute;
    top:25%;
    left:25%;
    color:white;
}